<a href="https://colab.research.google.com/github/duhajarrar/hello-world/blob/master/covithon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Train

In [479]:
import pandas as pd
import numpy as np
tr = pd.read_csv("drive/My Drive/train.csv")
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       8000 non-null   object
 1   full_name                    8000 non-null   object
 2   year_of_birth                8000 non-null   int64
 3   weight                       8000 non-null   float64
 4   height                       8000 non-null   float64
 5   eye_color                    8000 non-null   object
 6   race                         8000 non-null   object
 7   accommodation_type           8000 non-null   object
 8   education_status             8000 non-null   object
 9   blood_type                   8000 non-null   object
 10  family_members_count         8000 non-null   int64
 11  avg_sleep_hours              8000 non-null   int64
 12  occupation                   8000 non-null   object
 13  living_area                  8000 non-null   object
 14  sports_engagement            8000 non-null   object
 15  favorite_music_genre         8000 non-null   object
 16  favorite_color               8000 non-null   object
 17  owned_car_brand              8000 non-null   object
 18  hours_worked_each_week       8000 non-null   object
 19  owns_a_pet                   8000 non-null   object
 20  has_health_insurance         8000 non-null   object
 21  has_cancer                   8000 non-null   object
 22  smokes                       8000 non-null   object
 23  has_alzheimers               8000 non-null   object
 24  facial_hair                  8000 non-null   object
 25  daily_household_water_usage  8000 non-null   float64
 26  diet_type                    8000 non-null   object
 27  fast_food_meals_per_month    8000 non-null   int64
 28  infected                     8000 non-null   int64
dtypes: float64(3), int64(5), object(21)
memory usage: 1.8+ MB

In [480]:
tr['infected'].value_counts()

0    5211
1    2789
Name: infected, dtype: int64

In [481]:
tr.shape

(8000, 29)

In [482]:
tr.columns

Index(['gender', 'full_name', 'year_of_birth', 'weight', 'height', 'eye_color',
       'race', 'accommodation_type', 'education_status', 'blood_type',
       'family_members_count', 'avg_sleep_hours', 'occupation', 'living_area',
       'sports_engagement', 'favorite_music_genre', 'favorite_color',
       'owned_car_brand', 'hours_worked_each_week', 'owns_a_pet',
       'has_health_insurance', 'has_cancer', 'smokes', 'has_alzheimers',
       'facial_hair', 'daily_household_water_usage', 'diet_type',
       'fast_food_meals_per_month', 'infected'],
      dtype='object')

In [483]:
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [484]:
tr['owns_a_pet'] = tr['owns_a_pet'].map({'yes': 1, 'no': 0})
tr['has_health_insurance'] = tr['has_health_insurance'].map({'yes': 1, 'no': 0})
tr['has_cancer'] = tr['has_cancer'].map({'yes': 1, 'no': 0})
tr['smokes'] = tr['smokes'].map({'yes': 1, 'no': 0})
tr['has_alzheimers'] = tr['has_alzheimers'].map({'yes': 1, 'no': 0})
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [485]:
tr.diet_type.value_counts()

regular       7158
vegetarian     336
keto           213
vegan          190
paleo           67
low-carb        36
Name: diet_type, dtype: int64

In [486]:
tr['diet_type'] = tr['diet_type'].map({'regular': 1, 'vegetarian': 2,'keto':3 , 'vegan':4,'paleo':5,'low-carb':6})
tr.diet_type.value_counts()

1    7158
2     336
3     213
4     190
5      67
6      36
Name: diet_type, dtype: int64

In [487]:
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [488]:
tr.facial_hair.value_counts()

none     5916
short    1213
long      871
Name: facial_hair, dtype: int64

In [489]:
tr['facial_hair'] = tr['facial_hair'].map({'none': 0, 'short': 1,'long':2 })
tr.facial_hair.value_counts()

0    5916
1    1213
2     871
Name: facial_hair, dtype: int64

In [490]:
tr.hours_worked_each_week.value_counts()

not_applicable    2793
39                 543
40                 505
41                 504
42                 481
38                 472
43                 399
37                 359
36                 312
44                 306
35                 232
45                 227
34                 183
46                 154
47                 112
33                 107
48                  73
32                  64
31                  46
49                  36
30                  24
50                  20
51                  17
27                   8
28                   7
29                   6
26                   4
52                   3
56                   2
53                   1
Name: hours_worked_each_week, dtype: int64

In [491]:
tr['hours_worked_each_week'] = tr['hours_worked_each_week'].replace('not_applicable', 0)
tr.hours_worked_each_week.value_counts()

0     2793
39     543
40     505
41     504
42     481
38     472
43     399
37     359
36     312
44     306
35     232
45     227
34     183
46     154
47     112
33     107
48      73
32      64
31      46
49      36
30      24
50      20
51      17
27       8
28       7
29       6
26       4
52       3
56       2
53       1
Name: hours_worked_each_week, dtype: int64

In [492]:
tr['hours_worked_each_week']=pd.to_numeric(tr['hours_worked_each_week'])

In [493]:
tr['gender'] = tr['gender'].map({'male': 1, 'female': 2})

In [494]:
tr.blood_type.value_counts()

O+     3008
A+     2727
B+      706
O-      559
A-      481
AB+     232
B-      197
AB-      90
Name: blood_type, dtype: int64

In [495]:
tr['blood_type'] = tr['blood_type'].map({'O+': 1,'O-':-1,'A+':2,'A-':-2,'B+':3,'B-':-3,'AB+':4,'AB-':-4})

In [496]:
tr.blood_type.value_counts()

 1    3008
 2    2727
 3     706
-1     559
-2     481
 4     232
-3     197
-4      90
Name: blood_type, dtype: int64

In [497]:
tr.sports_engagement.value_counts()

sometimes    2676
never        2348
seldom       1724
regularly    1252
Name: sports_engagement, dtype: int64

In [498]:
tr['sports_engagement'] = tr['sports_engagement'].map({'never': 0, 'sometimes':1,'seldom':2,'regularly':3 })
tr.sports_engagement.value_counts()

1    2676
0    2348
2    1724
3    1252
Name: sports_engagement, dtype: int64

In [499]:
tr.eye_color.value_counts()

brown    6151
blue      632
amber     408
hazel     403
gray      250
green     156
Name: eye_color, dtype: int64

In [500]:
tr['eye_color'] = tr['eye_color'].map({'brown':1,'blue':2,'amber':3,'hazel':4,'gray':5,'green':6})
tr.eye_color.value_counts()

1    6151
2     632
3     408
4     403
5     250
6     156
Name: eye_color, dtype: int64

In [501]:
tr.race.value_counts()

asian             3627
white             2610
black             1213
middle_eastern     550
Name: race, dtype: int64

In [502]:
tr['race'] = tr['race'].map({'asian':1,'white':2,'black':3,'middle_eastern':4})
tr.race.value_counts()

1    3627
2    2610
3    1213
4     550
Name: race, dtype: int64

In [503]:
tr.accommodation_type.value_counts()

apartment           5078
villa               1664
shared_residence     675
other                511
homeless              72
Name: accommodation_type, dtype: int64

In [504]:
tr['accommodation_type'] = tr['accommodation_type'].map({'homeless':0,'apartment':1,'villa':2,'shared_residence':3,'other':4})
tr.accommodation_type.value_counts()

1    5078
2    1664
3     675
4     511
0      72
Name: accommodation_type, dtype: int64

In [505]:
tr.education_status.value_counts()

bachelors_degree                   2076
high_school                        2043
not_applicable                     1538
associate_degree                   1256
graduate_or_professional_degree     585
less_than_9th_grade                 502
Name: education_status, dtype: int64

In [506]:
tr['education_status'] = tr['education_status'].map({'not_applicable':0,'bachelors_degree':1,'high_school':2,'associate_degree':3,'graduate_or_professional_degree':4,'less_than_9th_grade':5})
tr.education_status.value_counts()

1    2076
2    2043
0    1538
3    1256
4     585
5     502
Name: education_status, dtype: int64

In [507]:
tr.occupation.value_counts()

unemployed     2793
other          1357
education      1140
business        862
art             702
engineering     519
healthcare      349
agriculture     278
Name: occupation, dtype: int64

In [508]:
tr['occupation']=tr['occupation'].map({'unemployed':0,'education':1,'business':2,'art':3,'engineering':4,'healthcare':5,'agriculture':6,'other':7})
tr.occupation.value_counts()

0    2793
7    1357
1    1140
2     862
3     702
4     519
5     349
6     278
Name: occupation, dtype: int64

In [509]:
tr.living_area.value_counts()

suburbs    3908
urban      2261
rural      1377
other       454
Name: living_area, dtype: int64

In [510]:
tr['living_area']=tr['living_area'].map({'suburbs':1,'urban':2,'rural':3,'other':4})
tr.living_area.value_counts()

1    3908
2    2261
3    1377
4     454
Name: living_area, dtype: int64

In [511]:
tr.favorite_music_genre.value_counts()

rock         2420
r&b          1756
pop          1462
other        1086
country       830
edm           289
classical     157
Name: favorite_music_genre, dtype: int64

In [512]:
tr['favorite_music_genre']=tr['favorite_music_genre'].map({'rock':1,'r&b':2,'pop':3,'country':4,'edm':5,'classical':6,'other':7})
tr.favorite_music_genre.value_counts()

1    2420
2    1756
3    1462
7    1086
4     830
5     289
6     157
Name: favorite_music_genre, dtype: int64

In [513]:
tr.favorite_color.value_counts()

blue      3096
green     1798
purple    1172
red        688
yellow     452
orange     431
pink       363
Name: favorite_color, dtype: int64

In [514]:
tr['favorite_color']=tr['favorite_color'].map({'blue':1,'green':2,'purple':3,'red':4,'yellow':5,'orange':6,'pink':7})
tr.favorite_color.value_counts()

1    3096
2    1798
3    1172
4     688
5     452
6     431
7     363
Name: favorite_color, dtype: int64

In [515]:
tr.owned_car_brand.value_counts()

none          2621
other          974
honda          903
ford           780
hyundai        594
audi           571
kia            455
tesla          428
bmw            417
mitsubishi     257
Name: owned_car_brand, dtype: int64

In [516]:
tr['owned_car_brand']=tr['owned_car_brand'].map({'none':0,'honda':1,'bmw':2,'ford':3,'hyundai':4,'audi':5,'kia':6,'tesla':7,'mitsubishi':8,'other':9})
tr.owned_car_brand.value_counts()

0    2621
9     974
1     903
3     780
4     594
5     571
6     455
7     428
2     417
8     257
Name: owned_car_brand, dtype: int64

In [517]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       8000 non-null   int64
 1   full_name                    8000 non-null   object
 2   year_of_birth                8000 non-null   int64
 3   weight                       8000 non-null   float64
 4   height                       8000 non-null   float64
 5   eye_color                    8000 non-null   int64
 6   race                         8000 non-null   int64
 7   accommodation_type           8000 non-null   int64
 8   education_status             8000 non-null   int64
 9   blood_type                   8000 non-null   int64
 10  family_members_count         8000 non-null   int64
 11  avg_sleep_hours              8000 non-null   int64
 12  occupation                   8000 non-null   int64
 13  living_area                  8000 non-null   int64
 14  sports_engagement            8000 non-null   int64
 15  favorite_music_genre         8000 non-null   int64
 16  favorite_color               8000 non-null   int64
 17  owned_car_brand              8000 non-null   int64
 18  hours_worked_each_week       8000 non-null   int64
 19  owns_a_pet                   8000 non-null   int64
 20  has_health_insurance         8000 non-null   int64
 21  has_cancer                   8000 non-null   int64
 22  smokes                       8000 non-null   int64
 23  has_alzheimers               8000 non-null   int64
 24  facial_hair                  8000 non-null   int64
 25  daily_household_water_usage  8000 non-null   float64
 26  diet_type                    8000 non-null   int64
 27  fast_food_meals_per_month    8000 non-null   int64
 28  infected                     8000 non-null   int64
dtypes: float64(3), int64(25), object(1)
memory usage: 1.8+ MB

In [518]:
#trM=tr
new=tr['full_name'].str.split(" ", n = 1, expand = True) 
tr['full_name']=new[1]
trM=tr
tr.head()

   gender  full_name  ...  fast_food_meals_per_month  infected
0       1  Valentine  ...                          2         0
1       1       Sell  ...                          0         0
2       1   Crawford  ...                         16         0
3       2  Valentine  ...                          1         1
4       1       Hill  ...                         12         0

[5 rows x 29 columns]

In [519]:
tr.full_name.value_counts()

Smith        81
Jones        67
Johnson      67
Williams     59
Brown        56
             ..
Greenough     1
Buffkin       1
Jellison      1
Mutch         1
Guest         1
Name: full_name, Length: 4527, dtype: int64

In [520]:
#trM=trM.drop('full_name',axis=1)
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
trM['full_name'] = lb_make.fit_transform(trM['full_name'])
trM.full_name.value_counts()

3826    81
2080    67
2084    67
4398    59
505     56
        ..
2915     1
2911     1
862      1
2907     1
0        1
Name: full_name, Length: 4527, dtype: int64

In [521]:
trM.groupby('infected').mean()

            gender    full_name  ...  diet_type  fast_food_meals_per_month
infected                         ...
0         1.470543  2294.436193  ...   1.184226                   7.669353
1         1.509143  2321.755826  ...   1.294012                   9.095016

[2 rows x 28 columns]

# Test

In [522]:
import pandas as pd
import numpy as np
tt = pd.read_csv("drive/My Drive/test.csv")
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       2000 non-null   object
 1   full_name                    2000 non-null   object
 2   year_of_birth                2000 non-null   int64
 3   weight                       2000 non-null   float64
 4   height                       2000 non-null   float64
 5   eye_color                    2000 non-null   object
 6   race                         2000 non-null   object
 7   accommodation_type           2000 non-null   object
 8   education_status             2000 non-null   object
 9   blood_type                   2000 non-null   object
 10  family_members_count         2000 non-null   int64
 11  avg_sleep_hours              2000 non-null   int64
 12  occupation                   2000 non-null   object
 13  living_area                  2000 non-null   object
 14  sports_engagement            2000 non-null   object
 15  favorite_music_genre         2000 non-null   object
 16  favorite_color               2000 non-null   object
 17  owned_car_brand              2000 non-null   object
 18  hours_worked_each_week       2000 non-null   object
 19  owns_a_pet                   2000 non-null   object
 20  has_health_insurance         2000 non-null   object
 21  has_cancer                   2000 non-null   object
 22  smokes                       2000 non-null   object
 23  has_alzheimers               2000 non-null   object
 24  facial_hair                  2000 non-null   object
 25  daily_household_water_usage  2000 non-null   float64
 26  diet_type                    2000 non-null   object
 27  fast_food_meals_per_month    2000 non-null   int64
dtypes: float64(3), int64(4), object(21)
memory usage: 437.6+ KB

In [523]:
tt.shape

(2000, 28)

In [524]:
tt.columns

Index(['gender', 'full_name', 'year_of_birth', 'weight', 'height', 'eye_color',
       'race', 'accommodation_type', 'education_status', 'blood_type',
       'family_members_count', 'avg_sleep_hours', 'occupation', 'living_area',
       'sports_engagement', 'favorite_music_genre', 'favorite_color',
       'owned_car_brand', 'hours_worked_each_week', 'owns_a_pet',
       'has_health_insurance', 'has_cancer', 'smokes', 'has_alzheimers',
       'facial_hair', 'daily_household_water_usage', 'diet_type',
       'fast_food_meals_per_month'],
      dtype='object')

In [525]:
tt.head()

   gender           full_name  ...  diet_type  fast_food_meals_per_month
0    male  Patrick Williamson  ...    regular                          5
1  female      Amber Stenberg  ...    regular                          3
2    male    Raymond Williams  ...    regular                          2
3    male         Lynn Tucker  ...    regular                         17
4    male        Robert Pinto  ...    regular                          5

[5 rows x 28 columns]

In [526]:
tt['owns_a_pet'] = tt['owns_a_pet'].map({'yes': 1, 'no': 0})
tt['has_health_insurance'] = tt['has_health_insurance'].map({'yes': 1, 'no': 0})
tt['has_cancer'] = tt['has_cancer'].map({'yes': 1, 'no': 0})
tt['smokes'] = tt['smokes'].map({'yes': 1, 'no': 0})
tt['has_alzheimers'] = tt['has_alzheimers'].map({'yes': 1, 'no': 0})
tt.head()

   gender           full_name  ...  diet_type  fast_food_meals_per_month
0    male  Patrick Williamson  ...    regular                          5
1  female      Amber Stenberg  ...    regular                          3
2    male    Raymond Williams  ...    regular                          2
3    male         Lynn Tucker  ...    regular                         17
4    male        Robert Pinto  ...    regular                          5

[5 rows x 28 columns]

In [527]:
tt.diet_type.value_counts()

regular       1786
vegetarian      89
vegan           59
keto            47
paleo           13
low-carb         6
Name: diet_type, dtype: int64

In [528]:
tt['diet_type'] = tt['diet_type'].map({'regular': 1, 'vegetarian': 2,'keto':3 , 'vegan':4,'paleo':5,'low-carb':6})
tt.diet_type.value_counts()

1    1786
2      89
4      59
3      47
5      13
6       6
Name: diet_type, dtype: int64

In [529]:
tt.head()

   gender           full_name  ...  diet_type  fast_food_meals_per_month
0    male  Patrick Williamson  ...          1                          5
1  female      Amber Stenberg  ...          1                          3
2    male    Raymond Williams  ...          1                          2
3    male         Lynn Tucker  ...          1                         17
4    male        Robert Pinto  ...          1                          5

[5 rows x 28 columns]

In [530]:
tt.facial_hair.value_counts()

none     1520
short     283
long      197
Name: facial_hair, dtype: int64

In [531]:
tt['facial_hair'] = tt['facial_hair'].map({'none': 0, 'short': 1,'long':2 })
tt.facial_hair.value_counts()

0    1520
1     283
2     197
Name: facial_hair, dtype: int64

In [532]:
tt.hours_worked_each_week.value_counts()

not_applicable    704
40                133
42                124
38                117
39                111
41                107
43                 97
44                 91
37                 87
36                 74
45                 65
35                 64
34                 46
46                 41
47                 31
33                 27
32                 20
48                 16
30                 11
31                  9
29                  7
50                  6
49                  5
51                  3
28                  1
52                  1
27                  1
53                  1
Name: hours_worked_each_week, dtype: int64

In [533]:
tt['hours_worked_each_week'] = tt['hours_worked_each_week'].replace('not_applicable', 0)
tt.hours_worked_each_week.value_counts()

0     704
40    133
42    124
38    117
39    111
41    107
43     97
44     91
37     87
36     74
45     65
35     64
34     46
46     41
47     31
33     27
32     20
48     16
30     11
31      9
29      7
50      6
49      5
51      3
52      1
53      1
28      1
27      1
Name: hours_worked_each_week, dtype: int64

In [534]:
tt['hours_worked_each_week']=pd.to_numeric(tt['hours_worked_each_week'])

In [535]:
tt['gender'] = tt['gender'].map({'male': 1, 'female': 2})

In [536]:
tt.blood_type.value_counts()

O+     767
A+     699
B+     175
O-     140
A-     111
AB+     49
B-      42
AB-     17
Name: blood_type, dtype: int64

In [537]:
tt['blood_type'] = tt['blood_type'].map({'O+': 1,'O-':-1,'A+':2,'A-':-2,'B+':3,'B-':-3,'AB+':4,'AB-':-4})

In [538]:
tt.blood_type.value_counts()

 1    767
 2    699
 3    175
-1    140
-2    111
 4     49
-3     42
-4     17
Name: blood_type, dtype: int64

In [539]:
tt.sports_engagement.value_counts()

sometimes    684
never        618
seldom       407
regularly    291
Name: sports_engagement, dtype: int64

In [540]:
tt['sports_engagement'] = tt['sports_engagement'].map({'never': 0, 'sometimes':1,'seldom':2,'regularly':3 })
tt.sports_engagement.value_counts()

1    684
0    618
2    407
3    291
Name: sports_engagement, dtype: int64

In [541]:
tt.eye_color.value_counts()

brown    1546
blue      171
amber     107
hazel      94
gray       47
green      35
Name: eye_color, dtype: int64

In [542]:
tt['eye_color'] = tt['eye_color'].map({'brown':1,'blue':2,'amber':3,'hazel':4,'gray':5,'green':6})
tt.eye_color.value_counts()

1    1546
2     171
3     107
4      94
5      47
6      35
Name: eye_color, dtype: int64

In [543]:
tt.race.value_counts()

asian             899
white             661
black             299
middle_eastern    141
Name: race, dtype: int64

In [544]:
tt['race'] = tt['race'].map({'asian':1,'white':2,'black':3,'middle_eastern':4})
tt.race.value_counts()

1    899
2    661
3    299
4    141
Name: race, dtype: int64

In [545]:
tt.accommodation_type.value_counts()

apartment           1265
villa                451
shared_residence     155
other                108
homeless              21
Name: accommodation_type, dtype: int64

In [546]:
tt['accommodation_type'] = tt['accommodation_type'].map({'homeless':0,'apartment':1,'villa':2,'shared_residence':3,'other':4})
tt.accommodation_type.value_counts()

1    1265
2     451
3     155
4     108
0      21
Name: accommodation_type, dtype: int64

In [547]:
tt.education_status.value_counts()

high_school                        532
bachelors_degree                   497
not_applicable                     407
associate_degree                   308
less_than_9th_grade                138
graduate_or_professional_degree    118
Name: education_status, dtype: int64

In [548]:
tt['education_status'] = tt['education_status'].map({'not_applicable':0,'bachelors_degree':1,'high_school':2,'associate_degree':3,'graduate_or_professional_degree':4,'less_than_9th_grade':5})
tt.education_status.value_counts()

2    532
1    497
0    407
3    308
5    138
4    118
Name: education_status, dtype: int64

In [549]:
tt.occupation.value_counts()

unemployed     704
other          312
education      303
business       221
art            169
engineering    136
healthcare      95
agriculture     60
Name: occupation, dtype: int64

In [550]:
tt['occupation']=tt['occupation'].map({'unemployed':0,'education':1,'business':2,'art':3,'engineering':4,'healthcare':5,'agriculture':6,'other':7})
tt.occupation.value_counts()

0    704
7    312
1    303
2    221
3    169
4    136
5     95
6     60
Name: occupation, dtype: int64

In [551]:
tt.living_area.value_counts()

suburbs    940
urban      582
rural      355
other      123
Name: living_area, dtype: int64

In [552]:
tt['living_area']=tt['living_area'].map({'suburbs':1,'urban':2,'rural':3,'other':4})
tt.living_area.value_counts()

1    940
2    582
3    355
4    123
Name: living_area, dtype: int64

In [553]:
tt.favorite_music_genre.value_counts()

rock         645
r&b          406
pop          385
other        228
country      208
edm           83
classical     45
Name: favorite_music_genre, dtype: int64

In [554]:
tt['favorite_music_genre']=tt['favorite_music_genre'].map({'rock':1,'r&b':2,'pop':3,'country':4,'edm':5,'classical':6,'other':7})
tt.favorite_music_genre.value_counts()

1    645
2    406
3    385
7    228
4    208
5     83
6     45
Name: favorite_music_genre, dtype: int64

In [555]:
tt.favorite_color.value_counts()

blue      763
green     473
purple    288
red       177
yellow    117
orange    101
pink       81
Name: favorite_color, dtype: int64

In [556]:
tt['favorite_color']=tt['favorite_color'].map({'blue':1,'green':2,'purple':3,'red':4,'yellow':5,'orange':6,'pink':7})
tt.favorite_color.value_counts()

1    763
2    473
3    288
4    177
5    117
6    101
7     81
Name: favorite_color, dtype: int64

In [557]:
tt.owned_car_brand.value_counts()

none          683
honda         237
other         237
ford          186
audi          156
hyundai       152
kia           100
tesla          90
bmw            87
mitsubishi     72
Name: owned_car_brand, dtype: int64

In [558]:
tt['owned_car_brand']=tt['owned_car_brand'].map({'none':0,'honda':1,'bmw':2,'ford':3,'hyundai':4,'audi':5,'kia':6,'tesla':7,'mitsubishi':8,'other':9})
tt.owned_car_brand.value_counts()

0    683
9    237
1    237
3    186
5    156
4    152
6    100
7     90
2     87
8     72
Name: owned_car_brand, dtype: int64

In [559]:
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       2000 non-null   int64
 1   full_name                    2000 non-null   object
 2   year_of_birth                2000 non-null   int64
 3   weight                       2000 non-null   float64
 4   height                       2000 non-null   float64
 5   eye_color                    2000 non-null   int64
 6   race                         2000 non-null   int64
 7   accommodation_type           2000 non-null   int64
 8   education_status             2000 non-null   int64
 9   blood_type                   2000 non-null   int64
 10  family_members_count         2000 non-null   int64
 11  avg_sleep_hours              2000 non-null   int64
 12  occupation                   2000 non-null   int64
 13  living_area                  2000 non-null   int64
 14  sports_engagement            2000 non-null   int64
 15  favorite_music_genre         2000 non-null   int64
 16  favorite_color               2000 non-null   int64
 17  owned_car_brand              2000 non-null   int64
 18  hours_worked_each_week       2000 non-null   int64
 19  owns_a_pet                   2000 non-null   int64
 20  has_health_insurance         2000 non-null   int64
 21  has_cancer                   2000 non-null   int64
 22  smokes                       2000 non-null   int64
 23  has_alzheimers               2000 non-null   int64
 24  facial_hair                  2000 non-null   int64
 25  daily_household_water_usage  2000 non-null   float64
 26  diet_type                    2000 non-null   int64
 27  fast_food_meals_per_month    2000 non-null   int64
dtypes: float64(3), int64(24), object(1)
memory usage: 437.6+ KB

In [560]:
#ttM=tt
new=tt['full_name'].str.split(" ", n = 1, expand = True) 
tt['full_name']=new[1]
ttM=tt
tt.head()
ttM.head()

   gender   full_name  ...  diet_type  fast_food_meals_per_month
0       1  Williamson  ...          1                          5
1       2    Stenberg  ...          1                          3
2       1    Williams  ...          1                          2
3       1      Tucker  ...          1                         17
4       1       Pinto  ...          1                          5

[5 rows x 28 columns]

In [561]:
#ttM=ttM.drop('full_name',axis=1)
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
ttM['full_name'] = lb_make.fit_transform(ttM['full_name'])
ttM.full_name.value_counts()
ttM.head()

   gender  full_name  ...  diet_type  fast_food_meals_per_month
0       1       1451  ...          1                          5
1       2       1272  ...          1                          3
2       1       1450  ...          1                          2
3       1       1362  ...          1                         17
4       1       1041  ...          1                          5

[5 rows x 28 columns]

In [562]:
ttM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       2000 non-null   int64
 1   full_name                    2000 non-null   int64
 2   year_of_birth                2000 non-null   int64
 3   weight                       2000 non-null   float64
 4   height                       2000 non-null   float64
 5   eye_color                    2000 non-null   int64
 6   race                         2000 non-null   int64
 7   accommodation_type           2000 non-null   int64
 8   education_status             2000 non-null   int64
 9   blood_type                   2000 non-null   int64
 10  family_members_count         2000 non-null   int64
 11  avg_sleep_hours              2000 non-null   int64
 12  occupation                   2000 non-null   int64
 13  living_area                  2000 non-null   int64
 14  sports_engagement            2000 non-null   int64
 15  favorite_music_genre         2000 non-null   int64
 16  favorite_color               2000 non-null   int64
 17  owned_car_brand              2000 non-null   int64
 18  hours_worked_each_week       2000 non-null   int64
 19  owns_a_pet                   2000 non-null   int64
 20  has_health_insurance         2000 non-null   int64
 21  has_cancer                   2000 non-null   int64
 22  smokes                       2000 non-null   int64
 23  has_alzheimers               2000 non-null   int64
 24  facial_hair                  2000 non-null   int64
 25  daily_household_water_usage  2000 non-null   float64
 26  diet_type                    2000 non-null   int64
 27  fast_food_meals_per_month    2000 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 437.6 KB

# ML

In [563]:
trM.columns

Index(['gender', 'full_name', 'year_of_birth', 'weight', 'height', 'eye_color',
       'race', 'accommodation_type', 'education_status', 'blood_type',
       'family_members_count', 'avg_sleep_hours', 'occupation', 'living_area',
       'sports_engagement', 'favorite_music_genre', 'favorite_color',
       'owned_car_brand', 'hours_worked_each_week', 'owns_a_pet',
       'has_health_insurance', 'has_cancer', 'smokes', 'has_alzheimers',
       'facial_hair', 'daily_household_water_usage', 'diet_type',
       'fast_food_meals_per_month', 'infected'],
      dtype='object')

In [576]:
from sklearn import tree
model_dt = tree.DecisionTreeClassifier()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_dt.fit(x_train,y_train)
y_test=model_dt.predict(x_test)
ACC_train_dt = model_dt.score(x_train,y_train)
ACC_test_dt = model_dt.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
DT=pd.DataFrame()
DT['prediction']=y_test
DT.index = np.arange(1, len(DT) + 1)
DT.to_csv('drive/My Drive/DT.csv',index=True)

1.0
1.0

In [574]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_lr.fit(x_train,y_train)
y_test=model_lr.predict(x_test)
ACC_train_dt = model_lr.score(x_train,y_train)
ACC_test_dt = model_lr.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
LR=pd.DataFrame()
LR['prediction']=y_test
LR.index = np.arange(1, len(LR) + 1)
LR.to_csv('drive/My Drive/LR.csv',index=True)

0.660125
0.660125

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [575]:
from sklearn.naive_bayes import GaussianNB
model_nb = GaussianNB()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_nb.fit(x_train,y_train)
y_test=model_nb.predict(x_test)
ACC_train_dt = model_nb.score(x_train,y_train)
ACC_test_dt = model_nb.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
NB=pd.DataFrame()
NB['prediction']=y_test
NB.index = np.arange(1, len(NB) + 1)
NB.to_csv('drive/My Drive/NB.csv',index=True)

0.6795
0.6795

In [573]:
from sklearn.svm import SVC 
model_svm = SVC()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_svm.fit(x_train,y_train)
y_test=model_svm.predict(x_test)
ACC_train_dt = model_svm.score(x_train,y_train)
ACC_test_dt = model_svm.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
svm=pd.DataFrame()
svm['prediction']=y_test
svm.index = np.arange(1, len(svm) + 1)
svm.to_csv('drive/My Drive/SVM.csv',index=True)

0.651375
0.651375

In [572]:
from sklearn.ensemble import RandomForestClassifier 
model_rf = RandomForestClassifier()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_rf.fit(x_train,y_train)
y_test=model_rf.predict(x_test)
ACC_train_dt = model_rf.score(x_train,y_train)
ACC_test_dt = model_rf.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
rf=pd.DataFrame()
rf['prediction']=y_test
rf.index = np.arange(1, len(rf) + 1)
rf.to_csv('drive/My Drive/RF.csv',index=True)

1.0
1.0

In [571]:
from sklearn.neural_network import MLPClassifier
model_nn = MLPClassifier()
y_train=trM['infected']
x_train=trM.drop('infected',axis=1)
x_test=ttM
model_nn.fit(x_train,y_train)
y_test=model_nn.predict(x_test)
ACC_train_dt = model_nn.score(x_train,y_train)
ACC_test_dt = model_nn.score(x_test,y_test)
print(ACC_train_dt)
print(ACC_train_dt)
nn=pd.DataFrame()
nn['prediction']=y_test
nn.index = np.arange(1, len(nn) + 1)
nn.to_csv('drive/My Drive/NN.csv',index=True)

0.65925
0.65925