<a href="https://colab.research.google.com/github/duhajarrar/hello-world/blob/master/covithon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [176]:
import pandas as pd
import numpy as np
tr = pd.read_csv("drive/My Drive/train.csv")
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       8000 non-null   object
 1   full_name                    8000 non-null   object
 2   year_of_birth                8000 non-null   int64
 3   weight                       8000 non-null   float64
 4   height                       8000 non-null   float64
 5   eye_color                    8000 non-null   object
 6   race                         8000 non-null   object
 7   accommodation_type           8000 non-null   object
 8   education_status             8000 non-null   object
 9   blood_type                   8000 non-null   object
 10  family_members_count         8000 non-null   int64
 11  avg_sleep_hours              8000 non-null   int64
 12  occupation                   8000 non-null   object
 13  living_area                  8000 non-null   object
 14  sports_engagement            8000 non-null   object
 15  favorite_music_genre         8000 non-null   object
 16  favorite_color               8000 non-null   object
 17  owned_car_brand              8000 non-null   object
 18  hours_worked_each_week       8000 non-null   object
 19  owns_a_pet                   8000 non-null   object
 20  has_health_insurance         8000 non-null   object
 21  has_cancer                   8000 non-null   object
 22  smokes                       8000 non-null   object
 23  has_alzheimers               8000 non-null   object
 24  facial_hair                  8000 non-null   object
 25  daily_household_water_usage  8000 non-null   float64
 26  diet_type                    8000 non-null   object
 27  fast_food_meals_per_month    8000 non-null   int64
 28  infected                     8000 non-null   int64
dtypes: float64(3), int64(5), object(21)
memory usage: 1.8+ MB

In [177]:
tr['infected'].value_counts()

0    5211
1    2789
Name: infected, dtype: int64

In [178]:
trCovid=tr[tr['infected']==1]
trCovid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2789 entries, 3 to 7998
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       2789 non-null   object
 1   full_name                    2789 non-null   object
 2   year_of_birth                2789 non-null   int64
 3   weight                       2789 non-null   float64
 4   height                       2789 non-null   float64
 5   eye_color                    2789 non-null   object
 6   race                         2789 non-null   object
 7   accommodation_type           2789 non-null   object
 8   education_status             2789 non-null   object
 9   blood_type                   2789 non-null   object
 10  family_members_count         2789 non-null   int64
 11  avg_sleep_hours              2789 non-null   int64
 12  occupation                   2789 non-null   object
 13  living_area                  2789 non-null   object
 14  sports_engagement            2789 non-null   object
 15  favorite_music_genre         2789 non-null   object
 16  favorite_color               2789 non-null   object
 17  owned_car_brand              2789 non-null   object
 18  hours_worked_each_week       2789 non-null   object
 19  owns_a_pet                   2789 non-null   object
 20  has_health_insurance         2789 non-null   object
 21  has_cancer                   2789 non-null   object
 22  smokes                       2789 non-null   object
 23  has_alzheimers               2789 non-null   object
 24  facial_hair                  2789 non-null   object
 25  daily_household_water_usage  2789 non-null   float64
 26  diet_type                    2789 non-null   object
 27  fast_food_meals_per_month    2789 non-null   int64
 28  infected                     2789 non-null   int64
dtypes: float64(3), int64(5), object(21)
memory usage: 653.7+ KB

In [179]:
tr.shape

(8000, 29)

In [180]:
tr.columns

Index(['gender', 'full_name', 'year_of_birth', 'weight', 'height', 'eye_color',
       'race', 'accommodation_type', 'education_status', 'blood_type',
       'family_members_count', 'avg_sleep_hours', 'occupation', 'living_area',
       'sports_engagement', 'favorite_music_genre', 'favorite_color',
       'owned_car_brand', 'hours_worked_each_week', 'owns_a_pet',
       'has_health_insurance', 'has_cancer', 'smokes', 'has_alzheimers',
       'facial_hair', 'daily_household_water_usage', 'diet_type',
       'fast_food_meals_per_month', 'infected'],
      dtype='object')

In [181]:
tr.groupby('infected').mean()

          year_of_birth  ...  fast_food_meals_per_month
infected                 ...
0           1985.926885  ...                   7.669353
1           1986.467193  ...                   9.095016

[2 rows x 7 columns]

In [182]:
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [183]:
tr['owns_a_pet'] = tr['owns_a_pet'].map({'yes': 1, 'no': 0})
tr['has_health_insurance'] = tr['has_health_insurance'].map({'yes': 1, 'no': 0})
tr['has_cancer'] = tr['has_cancer'].map({'yes': 1, 'no': 0})
tr['smokes'] = tr['smokes'].map({'yes': 1, 'no': 0})
tr['has_alzheimers'] = tr['has_alzheimers'].map({'yes': 1, 'no': 0})
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [184]:
tr.diet_type.value_counts()
tr['diet_type'] = tr['diet_type'].map({'regular': 1, 'vegetarian': 2,'keto':3 , 'vegan':4,'paleo':5,'low-carb':6})
tr.diet_type.value_counts()

1    7158
2     336
3     213
4     190
5      67
6      36
Name: diet_type, dtype: int64

In [185]:
tr.head()

   gender          full_name  ...  fast_food_meals_per_month  infected
0    male   Gerald Valentine  ...                          2         0
1    male          Chad Sell  ...                          0         0
2    male      Alex Crawford  ...                         16         0
3  female  Mildred Valentine  ...                          1         1
4    male     Francisco Hill  ...                         12         0

[5 rows x 29 columns]

In [186]:
tr.facial_hair.value_counts()

none     5916
short    1213
long      871
Name: facial_hair, dtype: int64

In [187]:
tr['facial_hair'] = tr['facial_hair'].map({'none': 0, 'short': 1,'long':2 })
tr.facial_hair.value_counts()

0    5916
1    1213
2     871
Name: facial_hair, dtype: int64

In [188]:
tr.hours_worked_each_week.value_counts()

not_applicable    2793
39                 543
40                 505
41                 504
42                 481
38                 472
43                 399
37                 359
36                 312
44                 306
35                 232
45                 227
34                 183
46                 154
47                 112
33                 107
48                  73
32                  64
31                  46
49                  36
30                  24
50                  20
51                  17
27                   8
28                   7
29                   6
26                   4
52                   3
56                   2
53                   1
Name: hours_worked_each_week, dtype: int64

In [189]:
tr['hours_worked_each_week'] = tr['hours_worked_each_week'].replace('not_applicable', 0)
tr.hours_worked_each_week.value_counts()

0     2793
39     543
40     505
41     504
42     481
38     472
43     399
37     359
36     312
44     306
35     232
45     227
34     183
46     154
47     112
33     107
48      73
32      64
31      46
49      36
30      24
50      20
51      17
27       8
28       7
29       6
26       4
52       3
56       2
53       1
Name: hours_worked_each_week, dtype: int64

In [190]:
tr['hours_worked_each_week']=pd.to_numeric(tr['hours_worked_each_week'])

In [191]:
tr['gender'] = tr['gender'].map({'male': 1, 'female': 2})

In [192]:
tr.blood_type.value_counts()

O+     3008
A+     2727
B+      706
O-      559
A-      481
AB+     232
B-      197
AB-      90
Name: blood_type, dtype: int64

In [193]:
tr['blood_type'] = tr['blood_type'].map({'O+': 1,'O-':-1,'A+':2,'A-':-2,'B+':3,'B-':-3,'AB+':4,'AB-':-4})

In [194]:
tr.blood_type.value_counts()

 1    3008
 2    2727
 3     706
-1     559
-2     481
 4     232
-3     197
-4      90
Name: blood_type, dtype: int64

In [195]:
tr.sports_engagement.value_counts()

sometimes    2676
never        2348
seldom       1724
regularly    1252
Name: sports_engagement, dtype: int64

In [196]:
tr['sports_engagement'] = tr['sports_engagement'].map({'never': 0, 'sometimes':1,'seldom':2,'regularly':3 })
tr.sports_engagement.value_counts()

1    2676
0    2348
2    1724
3    1252
Name: sports_engagement, dtype: int64

In [198]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       8000 non-null   int64
 1   full_name                    8000 non-null   object
 2   year_of_birth                8000 non-null   int64
 3   weight                       8000 non-null   float64
 4   height                       8000 non-null   float64
 5   eye_color                    8000 non-null   object
 6   race                         8000 non-null   object
 7   accommodation_type           8000 non-null   object
 8   education_status             8000 non-null   object
 9   blood_type                   8000 non-null   int64
 10  family_members_count         8000 non-null   int64
 11  avg_sleep_hours              8000 non-null   int64
 12  occupation                   8000 non-null   object
 13  living_area                  8000 non-null   object
 14  sports_engagement            8000 non-null   int64
 15  favorite_music_genre         8000 non-null   object
 16  favorite_color               8000 non-null   object
 17  owned_car_brand              8000 non-null   object
 18  hours_worked_each_week       8000 non-null   int64
 19  owns_a_pet                   8000 non-null   int64
 20  has_health_insurance         8000 non-null   int64
 21  has_cancer                   8000 non-null   int64
 22  smokes                       8000 non-null   int64
 23  has_alzheimers               8000 non-null   int64
 24  facial_hair                  8000 non-null   int64
 25  daily_household_water_usage  8000 non-null   float64
 26  diet_type                    8000 non-null   int64
 27  fast_food_meals_per_month    8000 non-null   int64
 28  infected                     8000 non-null   int64
dtypes: float64(3), int64(16), object(10)
memory usage: 1.8+ MB

In [200]:
tr.groupby('infected').mean()

            gender  year_of_birth  ...  diet_type  fast_food_meals_per_month
infected                           ...
0         1.470543    1985.926885  ...   1.184226                   7.669353
1         1.509143    1986.467193  ...   1.294012                   9.095016

[2 rows x 18 columns]